<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/ckeditor/_samples/sample.js"></script>
<link rel="stylesheet" type="text/css" href="/ckeditor/_samples/sample.css" />

<script type="text/javascript">
//<![CDATA[
	CKEDITOR.replace( 'ckeditor',
		{
			skin : 'office2003',
			entities : false
		});
	CKEDITOR.config.entities = false;
//]]>
</script>

<p>
  <%= f.label :title %><br />
  <%= f.text_field :title, :size => 60 %>
</p>
<p>
  <%= f.label :permalink %><br />
  <%= f.text_field :permalink, :size => 60 %>
</p>
<p>
  <%= f.label :header_content %><br />
  <%= f.text_area :header_content, :rows => 8, :cols => 60 %>
</p>

<p>
  <%= f.label :body %><br />
  <%= f.text_area :body, :class => "ckeditor" %>
</p>
<p>
  <%= f.label :language_id %><br />
  <%= f.select(:language_id, Language.all.collect {|p| [p.title,p.id] }, { :include_blank => false }) %>
</p>
