<% title "Translations" %>

<table id="hor-minimalist-b" class="pretty">
  <tr>
    <th>From</th>
    <th>To</th>
    <th></th>
    <th></th>
    <th>Domain</th>
  </tr>
  <% for translation in @translations %>
    <tr>
      <td>
        <%= link_to translation.source_content,
          translation,
          :title => translation.notes.to_s
        %>
      </td>
      <td>
        <%= link_to translation.target_content, 
            translation,
            :title => translation.notes.to_s
        %>
      </td>
      <td><%=h translation.source_language.title %></td>
      <td><%=h translation.target_language.title %></td>
      <td>
        <% translation.categories.each do |category| %>
          <%= category.title %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<br />
<% if params[:search] && @segments && !@segments.empty? %>
  <br />
  <!-- <h3> Segments matching "<%= params[:search][:source_content_or_target_content_like_any] %>" </h3> -->
  <br />
  <div class="segments">
    <%= render @segments %>
  </div>
<% end %>