<% @title = "#{@translation.source_content} (#{@translation.source_language.title})" %>
<br />
<p>
  <b>
  <%=h @translation.source_content %> (<%= @translation.source_language.title %>)
  &nbsp; - &nbsp;
  <%=h @translation.target_content %> (<%= @translation.target_language.title %>)
  </b>
</p>

<p>
  <strong>Domains:</strong>
  <% @translation.categories.each do |category| %>
    <%= category.title %>,
  <% end %>
</p>
<p>
  <strong>Company:</strong>
  <%=h @translation.company_name %>
</p>

<% unless @translation.notes.empty? %>
<p>
  <strong>Notes:</strong>
  <%=h @translation.notes %>
</p>
<% end %>
<br />

<div>
  <% @segments.each do |segment| %>
    <hr />
    <p>
      <% if segment.source_language %>
        <span class="small info"><%=h segment.source_language.title %>:</span><br />
      <% end %>
      <%= highlight(segment.source_content,@translation.source_content) %>
    </p>
    <p>
      <% if segment.target_language %>
        <span class="small info"><%=h segment.target_language.title %>:</span><br />
      <% end %>
      <%= highlight(segment.target_content,@translation.target_content) %>
    </p>
  <% end %>
</div>
