<% title "#{@translation.source_content} (#{@translation.source_language.title})" %>
<br />
<h3>
  <%=h @translation.target_content %> (<%= @translation.target_language.title %>)
</h3>

<br />
<p>
  <strong>Domains:</strong>
  &nbsp;
  <% @translation.categories.each do |category| %>
      <%= category.title %> &nbsp;
  <% end %>
</p>
<p>
  <strong>Company:</strong>
  <%=h @translation.company_name %>
</p>

<p>
  <strong>Notes:</strong>
  <%=h @translation.notes %>
</p>

<br />

<div>
  <% @segments.each do |segment| %>
    <div>
      <span class="small info"><%=h segment.source_language.title %>:</span>
      <br />
      <%= highlight(segment.source_content,@translation.source_content) %>
    </div>
    <br />
    <div>
      <span class="small info"><%=h segment.target_language.title %>:</span>
      <br />
      <%= highlight(segment.target_content,@translation.target_content) %>
    </div>
    <br />
    <hr />
  <% end %>
</div>
