<% @title = "Companies" %>

<table id="hor-minimalist-b">
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% for company in @companies %>
    <tr>
      <td><%=h company.title %></td>
      <td><%= link_to "Show", admin_company_path(company) %></td>
      <td><%= link_to "Edit", edit_admin_company_path(company) %></td>
      <td><%= link_to "Destroy", admin_company_path(company), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Company", new_admin_company_path %></p>
