<% title "Languages" %>

<table id="hor-minimalist-b">
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% for language in @languages %>
    <tr>
      <td><%=h language.title %></td>
      <td><%= link_to "Show", language %></td>
      <td><%= link_to "Edit", edit_language_path(language) %></td>
      <td><%= link_to "Destroy", language, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Language", new_language_path %></p>
