<table class="sidebar">
  <h3> Document Properties </h3>
  <tr>
    <td>File:</td>
    <td><%= @document.data_file_name %></td>
  </tr>
  <tr>
    <td>Title:</td>
    <td><%= @document.description %></td>
  </tr>
  <tr>
    <td>Size:</td>
    <td><%= to_file_size @document.data_file_size %></td>
  </tr>
  <tr>
    <td>Type:</td>
    <td><%= @document.xliff_xmlns %></td>
  </tr>
  <tr>
    <td>Original:</td>
    <td><%= @document.xliff_original %></td>
  </tr>
  <tr>
    <td>Encoding:</td>
    <td><%= @document.file_encoding %></td>
  </tr>
  <tr>
    <td>Language:</td>
    <td><%= @document.xliff_source_language %></td>
  </tr>
  <tr>
    <td>Datatype:</td>
    <td><%= @document.xliff_datatype %></td>
  </tr>
  <tr>
    <td>Instruc.</td>
    <td><%= @document.notes %></td>
  </tr>
</table>

<% if @document.attachments.empty? %>
  <p>No Exports of this document </p>
<% else %>
  <div class="document_attachments">
    <h3> Exports </h3>
    <ul>
    <% @document.attachments.each do |t| %>
      <li><%= link_to t.data_file_name, t %>(<%= t.created_at.strftime("%H:%M, %d %b %Y") %>)</li>
    <% end %>
    </ul>
  </div>
<% end %>

<p>
  <b><%= link_to 'Delete Document', document, :confirm => 'Are you sure you want to delete this Document?', :method => :delete %></b>
</p>