<!-- Search content -->
<div id="search" >
  <% form_for @terms_search, :url => {:controller => "translations"}, :html => {:name => "search"} do |f| %>
  <table>
    <tr>
      <td><%= f.text_field :source_content_or_target_content_like_any, :class => "search-text" %></td>
      <td><%= f.submit "Search" %></td>
    </tr>
  </table>
    <p>User: <%= f.select :user_id_equals, User.all.collect {|t| [t.login,t.id]}, :include_blank => true %></p>
    <br />
    <% Category.all.each do |t|%>
      <div class="checkbox_search_item">
        <%= check_box_tag "categories[]", 
            t.id, params[:categories] && params[:categories].include?(t.id.to_s),
            :id => "checkbox_#{t.id}"
        %>
        <%= link_to t.title, "#", :title => t.description.to_s, 
            :onclick => "toggleCheckbox('checkbox_#{t.id}');" 
        %>
      </div>
    <% end %>
  <% end %>
</div>