<p>
  <%= f.select(:source_language_id, Language.all.collect {|p| [p.title,p.id] }, { :include_blank => false }) %>
  <br />
  <%= f.text_area :source_content, :rows=>4, :cols=>66, :class=>"nice_input" %> 
</p>
<hr />
<p>
  <%= f.select(:target_language_id, Language.all.collect {|p| [p.title,p.id] }, { :include_blank => false }) %>
  <br />
  <%= f.text_area :target_content, :rows =>4, :cols=>66, :class=>"nice_input" %>
</p>
<p>
  <label>Domain Category</label>
  <%= f.select :category_id, Category.all.collect {|t| [t.title,t.id]} %>
</p>
<p>
  <%= f.label :notes, "Extra Notes" %><br />
  <%= f.text_field :notes, :size => 48, :class=>"nice_input" %>
  <p class="info">This will be tooltip on translations</p>
</p>