<script type="text/javascript" charset="utf-8"> 

$(function() {
  // $(".editable_source_<%= segment.id %>").editable("/segments/update_ajax/<%=segment.id%>", { 
  //     indicator   : "<img src='/images/indicator.gif'>",
  //     type        : 'textarea',
  //     submitdata  : { _method: "put", authenticity_token: <%= form_authenticity_token.to_json %> },
  //     select      : true,
  //     cols        : 100,
  //     rows        : "<%= segment.source_content.size/80 if segment.source_content %>",
  //     submit      : 'Save',
  //     cancel      : 'Cancel',
  //     cssclass    : "editable",
  //     name        : 'segment[source_content]',
  //     tooltip     : 'Click here to edit... ',
  //     placeholder : 'Click here to edit... '
  // }); 
  $(".editable_target_<%= segment.id %>").editable("/segments/update_ajax/<%=segment.id%>", { 
      indicator   : "<img src='/images/indicator.gif'>",
      type        : 'textarea',
      submitdata  : { _method: "put", authenticity_token: <%= form_authenticity_token.to_json %> },
      rows        : "<%= segment.source_content.size/50 if segment.source_content %>",
      cols        : 100,
      select      : true,
      submit      : 'Save',
      cancel      : 'Cancel',
      cssclass    : "editable",
      style       : "inherit",
      name        : 'segment[target_content]',
      tooltip     : 'Click here to edit... ',
      placeholder : 'Click here to edit... '
  });

  $(".editable_select_<%= segment.id %>").editable("/segments/update_ajax/<%=segment.id%>", { 
    indicator   : "<img src='/images/indicator.gif'>",
    type        : 'select',
    submitdata  : { _method: "put", authenticity_token: <%= form_authenticity_token.to_json %> },
    select      : true,
    submit      : 'Save',
    cancel      : 'Cancel',
    cssclass    : "editable",
    name        : 'segment[status_id]',
    tooltip     : 'Click to edit',
    saving      : "saving ...",
    delayOnBlur : 10,
    data        : '<%= @statuses_hash.to_json %>'
  });
  
});
</script> 

<div class="segment" id="<%= dom_id(segment)%>">
  <div class="segment_from">
    <p>
      <span class="editable_source_<%= segment.id %>" id="<%= segment.id %>">
        <%=h segment.source_content.to_s if segment.source_content %>
      </span>
      <span class="seg_language small info">
        <%=h segment.source_language.title if segment.source_language %>
      </span>
    </p>
  </div>
  
  <div class="segment_to">
    <p>
      <span class="editable_target_<%= segment.id %>" id="<%= segment.id %>"><%=h segment.target_content.to_s if segment.target_content %></span>
      <span class="seg_language small info">
        <%=h segment.target_language.title if segment.target_language %>
      </span>
    </p>
  </div>
  
  <div class="segment_prop">
    <div class="segment_from_id"><%= segment.id.to_i - (@first_id.to_i-1) %></div> - 
    <span style="display: inline"><%=h segment.category.title if segment.category %></span>
    <%= segment.user.login if segment.user %> 
    <%= segment.last_user.login if segment.last_user %> 
    <%= segment.reviewer.login if segment.reviewer %> &nbsp; - &nbsp;
    Updated: <%= segment.updated_at.strftime("%H:%M, %d %b %Y") %> &nbsp; - &nbsp;
    Status: 
    <span class="select_edit editable_select_<%= segment.id %>" id="<%= segment.id %>" style="display:inline"><%=h segment.status %></span> &nbsp; - &nbsp;
    <%= link_to "Edit", edit_segment_path(segment) %> - 
    <%= link_to "Del", segment_path(segment), :confirm => 'Are you sure?', :method => :delete %>
  </div>
  
</div>
