<h3> <%= "Editing project" %> </h3>

<% form_for @project, :url => { :action => "update" } do |f| %>

  <%= f.error_messages %>
  
  <%= render :partial => 'form', :locals => { :f => f, :project => @project } %>

  <%= image_submit_tag "admin/save_button.png", :class => "button" %>
  
<% end %>

<%= link_to image_tag("admin/back_button.png", :class => "button"), admin_project_path(@project) -%>
