<table cellpadding="5" cellspacing="0" border="0" width="50%">
  <tr>
    <td>Project name: <%= @project.title -%></td>
    <td rowspan="2" valign="top">
      Project domains:<br/>
      <%= @project_domains.join(' ') -%>
    </td>
  </tr>

  <tr>
    <td>Project owner: <%= link_to @project.owner.name, admin_user_path(@project.owner) -%></td>
  </tr>
  </tr>

  <tr>
    <td>Start Date: <%= @project.start_date -%></td>
    <td>Due Date: <%= @project.due_date -%></td>
  </tr>

  <tr>
    <td colspan="2">Project language: </td>
  </tr>
  
  <tr>
    <td colspan="2">
      <div style="border:1px dashed #aaa; padding: 3px 10px">
        <%= @project.instruction -%>
      </div>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      button available when all tasks marked as completed<br />
      <%= check_box_tag "completed", 1, false, :disabled => true -%> Complete Project
    </td>
  </tr>

  <tr>
    <td colspan="2">
      button available when project marked as completed<br />
      <%= check_box_tag "approved", 1, false, :disabled => true -%> Approve Project
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <%= link_to "edit project", edit_admin_project_path(@project) -%>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "delete project", admin_project_path(@project), :confirm => "Are you sure?", :method => 'delete' -%>
    </td>
  </tr>

  <tr>
  </tr>
</table>
<br/>

<hr/>

Tasks:<br/><br/>

<table cellpadding="5" cellspacing="0" border="1">
  <tr>
    <th>Task</th>
    <th>Source_lang</th>
    <th>Tar_lang</th>
    <th>Assigned to</th>
    <th>Completed</th>
  </tr>

  <%- for task in @tasks -%>
    <tr>
      <td>
        <%= link_to task.title, "#" -%>
      </td>
      <td>
        <%= task.segment.source_language.title -%>
      </td>
      <td>
        <%= task.segment.target_language.title -%>
      </td>
      <td>
        <%= link_to "Team Name", "#" -%>
      </td>
      <td>
        <%= check_box_tag "completed", 0, false -%>
      </td>
    </tr>
  <%- end -%>
</table>

<br/>

Click on a task name to display task file links in side bar.
