<% title "Pages" %>

<table id="hor-minimalist-b">
  <tr>
    <th>Title</th>
    <th>Permalink</th>
    <th>Body</th>
    <th>Language</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% for page in @pages %>
    <tr>
      <td><%=h page.title %></td>
      <td><%=h page.permalink %></td>
      <td><%=h page.body %></td>
      <td><%=h page.language_id %></td>
      <td><%= link_to "Show", page %></td>
      <td><%= link_to "Edit", edit_page_path(page) %></td>
      <td><%= link_to "Destroy", page, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Page", new_page_path %></p>
