<% title "Pages" %>

<table id="hor-minimalist-b">
  <tr>
    <th>Title</th>
    <th>Permalink</th>
    <th>Language</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% for page in @pages %>
    <tr>
      <td><%= link_to page.title, page %></td>
      <td><%= link_to page.permalink, page %></td>
      <td><%= page.language_title %></td>
      <td><%= link_to "Show", page %></td>
      <td><%= link_to "Edit", edit_page_path(page) %></td>
      <td><%= link_to "Destroy", page, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Page", new_page_path %></p>
