<% title @page.title %> 

<%= @page.body %>


<p>
  <strong>Permalink:</strong>
  <%= h @page.permalink %>
</p>

<p>
  <strong>Language:</strong>
  <%=h @page.language_title %>
</p>

<p>
  <%= link_to "Edit", edit_page_path(@page) %> |
  <%= link_to "Destroy", @page, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", pages_path %>
</p>
