<table id="one-column-emphasis">
  <tr>
    <th>File Name</th>
    <th>Description</th>
    <th>Size</th>
    <th>Language</th>
    <th>Segments</th>
    <th>Encoding</th>
    <th></th>
    <th></th>
  </tr>

<% @documents.each do |document| %>
  <tr>
    <td><%= link_to h(document.data_file_name), document %></td>
    <td><%= link_to h(document.description), document %></td>
    <td><%= to_file_size(document.data_file_size) %></td>
    <td><%= document.xliff_source_language %></td>
    <td><%= document.segments.count %></td>
    <td><%= document.file_encoding %></td>
    <td><%= link_to 'Edit', edit_document_path(document) %></td>
    <td><%= link_to 'Del', document, :confirm => 'Are you sure you want to delete this Document?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New document', new_document_path %>