<h1>Listing Document Statuses</h1>

<table id="one-column-emphasis-b">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @document_statuses.each do |document_status| %>
  <tr>
    <td><%=h document_status.name %></td>
    <td><%=h document_status.description %></td>
    <td><%= link_to 'Show', admin_document_status_path(document_status) %></td>
    <td><%= link_to 'Edit', edit_admin_document_status_path(document_status) %></td>
    <td><%= link_to 'Del', admin_document_status_path(document_status), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<p><%= link_to 'New Document Status', new_admin_document_status_path %></p>