<p>
  <%= f.select(:source_language_id, Language.all.collect {|p| [p.title,p.id] }, { :include_blank => false }) %>
  <br />
  <%= f.text_area :source_content, :rows=>5, :cols=>60 %> 
</p>
<hr />
<p>
  <%= f.select(:target_language_id, Language.all.collect {|p| [p.title,p.id] }, { :include_blank => false }) %>
  <br />
  <%= f.text_area :target_content, :rows =>5, :cols=>60 %>
</p>


<p>
  <label>Domain</label>
  <%= f.select :category_id, Category.all.collect {|t| [t.title,t.id]} %>
</p>

<p>
  <%= f.label :company_id %><br />
  <%= f.select(:company_id, Company.all.collect {|p| [p.title,p.id] }, { :include_blank => true }) %>
</p>
<p>
  <%= f.label :notes, "Extra Notes" %><br />
  <%= f.text_field :notes, :size => 36 %>
  <p class="info">This will be tooltip on translations</p>
</p>
<p>
  <%= f.label :user_id, "Uploaded by User" %><br />
  <%= f.select(:user_id, User.all.collect {|p| [p.login,p.id] }, { :include_blank => false }) %>
</p>
<br />