
<% title "Segments" %>

<div class="segments">
  <%= render @segments %>
</div>

<br />

<p>
  <%= link_to image_tag("admin/new_button.png"), new_admin_segment_path %>
</p>
<br />
<div class="digg_pagination">
  <div clas="page_info">
    <%= page_entries_info @segments %>
  </div>
  <br />
  <%= will_paginate @segments, :container => false %>
</div>

<br />
<br />
<strong>
  <%= link_to "Delete all", 
    {:action => "destroy", :all => true}, 
    :confirm => 'Are you rally sure you want to delete ALL records from database?', 
    :method => :delete 
  %>
</strong>

<br />
<br />
<br />
<hr />
<br />
<h2>Import a Translation Memory File</h2>
<p>First remove headers</p>

<% form_for :memory_file, :url => {:action=>"import"}, :html => { :multipart => true } do |f| %>
  <p>
    <label>Select Domain for uploaded entries: </label> <br />
    <%= f.select(:category_id, Category.all.collect {|p| [p.title,p.id] }, { :include_blank => true }) %>
  </p>
  <p>
    Select a CSV File to import
    <br />
    <%= f.file_field :file %>
    <%= submit_tag 'Upload' %>
  </p>
<% end %>
