
<% title "Segments" %>

<div class="segments">
  <%= render @segments %>
</div>

<br />

<p>
  <%= link_to image_tag("admin/new_button.png"), new_admin_segment_path %>
</p>
<br />
<div class="digg_pagination">
  <div clas="page_info">
    <%= page_entries_info @segments %>
  </div>
  <br />
  <%= will_paginate @segments, :container => false %>
</div>

<br />
<br />
<strong>
  <%= link_to "Delete all", 
    {:action => "destroy", :all => true}, 
    :confirm => 'Are you rally sure you want to delete ALL records from database?', 
    :method => :delete 
  %>
</strong>
