<div id="menu">
	<%= link_to "Properties", :controller => 'properties' %>
	<%= link_to "Locations", :controller => 'locations' %>
	<%= link_to "Cities", :controller => 'cities' %>
	<%= link_to "States", :controller => 'states' %>
	<%= link_to "Messages", :controller => 'resources' %>
	<%= link_to "Types", :controller => 'property_types' %>
	<%= link_to "Settings", :controller => 'settings' %>
	<%= link_to "Logout", :controller => 'account', :action => 'logout' %>
</div>