<p>
  <%= f.label :source_content, "From" %><br />
  <%= f.select(:source_language_id, Language.all.collect {|p| [p.title,p.id] }, { :include_blank => false }) %>
  <%= f.text_field :source_content, :size => 80 %> 
</p>
<p>
  <%= f.label :target_content, "To" %><br />
  <%= f.select(:target_language_id, Language.all.collect {|p| [p.title,p.id] }, { :include_blank => false }) %>
  <%= f.text_field :target_content, :size => 80 %>
</p>

<p>
  <%= f.label :category_id, "Domain" %><br />
  <%= f.select(:category_id, Category.all.collect {|p| [p.title,p.id] }, { :include_blank => true }) %>
</p>
<p>
  <%= f.label :company_id %><br />
  <%= f.select(:company_id, Company.all.collect {|p| [p.title,p.id] }, { :include_blank => true }) %>
</p>
<p>
  <%= f.label :notes, "Extra Notes" %><br />
  <%= f.text_field :notes, :size => 36 %>
</p>

<p>
  <%= f.label :user_id, "Uploaded by User" %><br />
  <%= f.select(:user_id, User.all.collect {|p| [p.login,p.id] }, { :include_blank => false }) %>
</p>

