<% title "Translations" %>

<% form_for @search do |f| %>
  <%= f.text_field :source_content_or_target_content_like_any, :class=>"search" %>
  <%= f.submit "Search", :class=>"search" %>
  <br />
  <% Category.all.each do |t|%>
    <%= check_box_tag "categories[]", 
        t.id, 
        params[:categories] && params[:categories].include?(t.id.to_s) 
    %>
    <%= t.title %> &nbsp;
  <% end %>
<% end %>

<br />

<table id="one-column-emphasis-b">
  <tr>
    <th>From</th>
    <th>To</th>
    <th></th>
    <th></th>
    <th>Domain</th>
    <th>Company</th>
    <th>User</th>
    <th>Internal ID</th>
    <th>Source</th>
    <th>Notes</th>
    <th>Date</th>
    <th></th>
    <th></th>
  </tr>
  <% for translation in @translations %>
    <tr>
      <td><%= link_to translation.source_content.to_s, admin_translation_path(translation) %></td>
      <td><%= link_to translation.target_content.to_s, admin_translation_path(translation) %></td>
      <td><%=h translation.source_language.title if translation.source_language %></td>
      <td><%=h translation.target_language.title if translation.target_language %></td>
      <td>
        <% translation.categories.each do |category| %>
          <%= link_to(category.title, admin_category_path(category)) %>
        <% end %>
      </td>
      <td><%= link_to(translation.company_name, admin_company_path(translation.company)) if translation.company %></td>
      <td><%= link_to(translation.user.login, admin_user_path(translation.user)) if translation.user %></td>
      <td><%=h translation.internal_id %></td>
      <td><%=h translation.source %></td>
      <td><%=h translation.notes %></td>
      <td><%= translation.updated_at.strftime("%Y-%m-%d") %></td>
      <td><%= link_to "Edit", edit_admin_translation_path(translation) %></td>
      <td><%= link_to "Del", admin_translation_path(translation), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br />
<p>
  <%= link_to image_tag("admin/new_button.png"), new_admin_translation_path %>
</p>
<br />
<div class="digg_pagination">
  <div clas="page_info">
    <%= page_entries_info @translations %>
  </div>
  <br />
  <%= will_paginate @translations, :container => false %>
</div>


<strong><%= link_to "Delete all", {:action => "destroy", :all => true}, :confirm => 'Are you rally sure you want to delete ALL records from database?', :method => :delete %></strong>