<% title "Translations" %>

<% form_for @search do |f| %>
  <%= f.text_field :source_content_or_target_content_like_any, :class=>"search" %>
  <%= f.submit "Search", :class=>"search" %>
  <br />
  <% Category.all.each do |t|%>
    <%= check_box_tag "categories[]", 
        t.id, 
        params[:categories] && params[:categories].include?(t.id.to_s) 
    %>
    <%= t.title %> &nbsp;
  <% end %>
<% end %>

<br />

<table id="one-column-emphasis-b">
  <tr>
    <th>From</th>
    <th>To</th>
    <th></th>
    <th></th>
    <th>Domain</th>
    <th>Company</th>
    <th>User</th>
    <th>Internal ID</th>
    <th>Source</th>
    <th>Notes</th>
    <th>Date</th>
    <th></th>
    <th></th>
  </tr>
  <% for translation in @translations %>
    <tr>
      <td><%= link_to translation.source_content.to_s, admin_translation_path(translation) %></td>
      <td><%= link_to translation.target_content.to_s, admin_translation_path(translation) %></td>
      <td><%=h translation.source_language.title %></td>
      <td><%=h translation.target_language.title %></td>
      <td>
        <% translation.categories.each do |category| %>
          <%= link_to(category.title, admin_category_path(category)) %>
        <% end %>
      </td>
      <td><%= link_to(translation.company_name, admin_company_path(translation.company)) if translation.company %></td>
      <td><%= link_to(translation.user.login, admin_user_path(translation.user)) if translation.user %></td>
      <td><%=h translation.internal_id %></td>
      <td><%=h translation.source %></td>
      <td><%=h translation.notes %></td>
      <td><%= translation.updated_at.strftime("%Y-%m-%d") %></td>
      <td><%= link_to "Edit", edit_admin_translation_path(translation) %></td>
      <td><%= link_to "Del", admin_translation_path(translation), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br />
<p>
  <%= link_to image_tag("admin/new_button.png"), new_admin_translation_path %>
</p>
<br />
<div class="digg_pagination">
  <div clas="page_info">
    <%= page_entries_info @translations %>
  </div>
  <br />
  <%= will_paginate @translations, :container => false %>
</div>

<br />
<br />
<br />
<h2>CSV Import</h2>
<% form_for :csv_file, :url => {:action=>"import"}, :html => { :multipart => true } do |f| %>
  <p>
    <label>Select Categories for uploaded entries: </label> <br />
    <%= select_tag "csv_file[category_ids][]", 
        options_from_collection_for_select(Category.all, :id, :title), 
        :multiple => true
    %>
  </p>
  <p>
    <label>Select Company for uploaded entries: </label> <br />
    <%= f.select(:company_id, Company.all.collect {|p| [p.title,p.id] }, { :include_blank => true }) %>
  </p>
  <p>
    Select a CSV File to import
    <br />
    <%= f.file_field :file %>
    <%= submit_tag 'Upload' %>
  </p>
<% end %>

<br />
<br />
<br />

<h2>Format of CSV file for import</h2>
<p>CSV must have header a definining the language</p>
<pre>
  header --> source_language,destination_language,domains(categories),company,Internal-ID,Value(1-5),notes,Source
  data ->    source_content,destination_content,"domain1, domain2",company ABC,123,"some notes"
  data ->    source_content,destination_content
</pre>
<h4>Example:</h4>
<pre>
  de_de,en_gb,domain,company,internal_id,notes,source
  Ablage,Personal Clipboard,"tech,office",abc,"this, that and those"
  Allgemein,General,tech,abc,"this, that and those"
  Allg. Hinweise,general hints,Office,"xyz Company, ltd.",
  Aufgaben,Tasks,tech,abc,,
  Auftrag,Appointment
</pre>
Notes: If comma is in part of field, it must be embraced by Double Quotes ("") as in the example above. 

<br />
<br />
<br />
<strong><%= link_to "Delete all", {:action => "destroy", :all => true}, :confirm => 'Are you rally sure you want to delete ALL records from database?', :method => :delete %></strong>