<% title "Translation" %>

<p>
  <label>Source Language:</label>
  &nbsp;
  <%=h @translation.source_content %>
</p>
<p>
  <label>Target Language:</label>
  &nbsp;
  <%=h @translation.target_content %>
</p>
<p>
  <label>Domains:</label>&nbsp;
  <% @translation.categories.each do |category| %>
    <%= category.title %> &nbsp;
  <% end %>
</p>
<p>
  <label>Company:</label>
  &nbsp;
  <%=h @translation.company_name %>
</p>
<p>
  <label>Notes:</label>
  &nbsp;
  <%=h @translation.notes %>
</p>

<p>
  <%= link_to "Edit", edit_admin_translation_path(@translation) %> |
  <%= link_to "Destroy", admin_translation_path(@translation), :confirm => 'Are you sure?', :method => :delete %>
</p>
