<html>
<head>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title><%= @title || Settings[:site_meta_title] %></title>
  
  <!-- Application Default Stylesheets and Javascripts -->
  <%= stylesheet_link_tag 'themes/indicator/style.css' %>
  <%= stylesheet_link_tag 'table.css' %>
  <%= stylesheet_link_tag 'site.css' %>
  <%= javascript_include_tag "application" %>
  
  <!-- ExtJS -->
  <%= stylesheet_link_tag "/extjs/ext-all.css" %>
  <%= javascript_include_tag "/extjs/ext-base.js" %>
  <%= javascript_include_tag "/extjs/ext-all.js" %>
  <script type="text/javascript">
    Ext.onReady(function(){
       // NOTE: This is an example showing simple state management. During development,
       // it is generally best to disable state management as dynamically-generated ids
       // can change across page loads, leading to unpredictable results.  The developer
       // should ensure that stable state ids are set for stateful components in real apps.
       Ext.state.Manager.setProvider(new Ext.state.CookieProvider());
       
       <% if logged_in? %>
       var viewport = new Ext.Viewport({
            layout:'border',
            items:[{
                region:'west',
                id:'west-panel',
                title:'Menu',
                split:true,
                width: 240,
                minSize: 180,
                maxSize: 360,
                collapsible: true,
                margins:'30 0 5 5',
                cmargins:'30 5 5 5',
                layout:'accordion',
                layoutConfig:{
                    animate:true
                },
                items: [
                <% if @document && @document.data && !@document.segments.empty? %>
                {
                    contentEl: 'terms-div',
                    title:"Candidate Terms",
                    autoScroll:true,
                    border:false,
                    singleExpand: false
                },
                {
                    contentEl: 'document-div',
                    title:"Document Properties",
                    autoScroll:true,
                    border:false,
                    singleExpand: false
                },
                <% end %>
                {
                    contentEl: 'search-div',
                    title:'Search',
                    autoScroll:true,
                    border:false,
                    singleExpand: false
                },
                {
                    contentEl: 'workspace-div',
                    title:'Workspace',
                    border:false,
                    autoScroll:false,
                    singleExpand: false
                },
                {
                    contentEl: 'userprofile-div',
                    title:'Profile',
                    border:false,
                    autoScroll:false,
                    singleExpand: false
                }]
            },{
                region:'center',
                margins:'30 5 5 0',
                layout:'column',
                autoScroll:true,
                items:[{
                    columnWidth:0.990,
                    baseCls:'x-plain',
                    bodyStyle:'padding:5px 0 5px 5px',
                    items:[{
                        title: "<%= @title %>",
                        contentEl: 'start-div'
                    }]
                }]
            }]
        });
        <% else %>
        var viewport = new Ext.Viewport({
             layout:'border',
             items:[{
                 region:'west',
                 id:'west-panel',
                 title: "<%= t('menu') %>",
                 split:true,
                 width: 200,
                 minSize: 175,
                 maxSize: 400,
                 collapsible: true,
                 margins:'30 0 5 5',
                 cmargins:'30 5 5 5',
                 layout:'accordion',
                 layoutConfig:{
                     animate:true
                 },
                 items: [{
                     contentEl: 'login-div',
                     title:'Login',
                     border:false,
                     autoScroll:false,
                     singleExpand: false
                 }]
             },{
                 region:'center',
                 margins:'30 5 5 0',
                 layout:'column',
                 autoScroll:true,
                 items:[{
                     columnWidth:0.990,
                     baseCls:'x-plain',
                     bodyStyle:'padding:5px 0 5px 5px',
                     items:[{
                         title: 'Main Page',
                         contentEl: 'start-div'
                     }]
                 }]
             }]
         });
        <% end %>
    });
  </script>
  <%= stylesheet_link_tag   '/extjs/custom.css' %>

  <!-- jQuery -->
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" if Rails.env == "production" %>
  <%= javascript_include_tag 'jquery-1.4.2.min' if Rails.env == "development"  %>
  <%= javascript_include_tag '/jeditable/jquery.jeditable.js', :charset => "utf-8" %>
  <%= javascript_include_tag '/jeditable/jquery.jeditable.autogrow.js', :charset => "utf-8" %>
  
  <%= yield(:head) %>
  
  <% if @page && @page.header_content %>
    <%= @page.header_content %>
  <% end %>

</head>
<body>
  <script type="text/javascript" src="/extjs/examples.js"></script>
  
  <div class="topbar">
    <% Page.all.each do |page| %>
	    <%= link_to page.title, permalink_path(page.permalink) %> - 
	  <% end %>
    <% if logged_in? %>
       <%= link_to "Segments", segments_path %> 
       - <%= link_to "Account", edit_account_path %> 
       - <%= link_to "Logout", logout_path %> 
      <% if current_user.admin %>
        - <%= link_to "Administration", admin_path %> 
      <% end %>
    <% else %>
       <%= link_to "Login", login_path %> 
    <% end %>
  </div>
  
  
  <div class="x-hidden">
    
    <div id="login-div">
      <% unless current_user %>
        <%= render :partial => "/shared/login" %>
      <% end %>
    </div>
    
    <% if current_user && @document && @document.data %>
      <div id="terms-div">
        <%= render :partial => "/shared/terms" %>
      </div>
      <div id="document-div">
        <%= render :partial => "/shared/document", :locals => { :document => @document }  %>
      </div>
    <% end %>
    
    <div id="search-div">
      <%= render :partial => "/shared/search" if current_user %>
    </div>
    
    <!-- Workspace content -->
    <div id="workspace-div">
      <%= render :partial => "/shared/workspace" if current_user %>
    </div>
    
    <!-- User Profile content -->
    <div id="userprofile-div">
      <%= render :partial => "/shared/user_profile" if current_user %>
    </div>
    
    <!-- Start page content -->
    <div id="start-div">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :class => "flash_#{name}" %>
        <%- end -%>
        <%= yield %>
    </div>
    
  </div>
  
</body>
</html>