<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title><%= h(yield(:title) || Settings[:site_meta_title]) %></title>
  <%= stylesheet_link_tag 'themes/indicator/style.css' %>
  <%= yield(:head) %>
  <script src="/tooltip/lib/jquery.js" type="text/javascript"></script>
  <script src="/tooltip/lib/jquery.bgiframe.js" type="text/javascript"></script>
  <script src="/tooltip/lib/jquery.dimensions.js" type="text/javascript"></script>
  <script src="/tooltip/jquery.tooltip.js" type="text/javascript"></script>


  <script type="text/javascript">
    function toggleCheckbox(checkbox_id){
      var checkbox = document.getElementById(checkbox_id)
      if (checkbox.checked == 0) {
        checkbox.checked = true;
      }
      else {
        checkbox.checked = false;
    	}
    }
  
    $(function() {
      $('.tooltip *').tooltip();
    
      $('.pretty *').tooltip({ 
          track: true, 
          delay: 0, 
          showURL: false, 
          showBody: " - ", 
          extraClass: "pretty", 
          fixPNG: true, 
          opacity: 0.90, 
          top: -50,
          left: -80 
      });
    });    
  </script>
</head>
  
<body>
  <div id="wrapper">
  	<div id="header-wrapper">
  	<div id="header">
  		<div id="logo">
  			<h1><a href="/"><%= Settings[:site_title] %></a></h1>
  			<p><%= Settings[:site_sub_title] %></p>
  		</div>
  	</div>
  	</div>
  	<!-- end #header -->
  	<div id="page">
  	<div id="page-bgtop">
  	<div id="page-bgbtm">
  	  
  		<div id="content">
  		  
  		  <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :class => "flash_#{name}" %>
        <%- end -%>
        
        <div class="post">
          <%- if show_title? -%>
            <h2 class="title">
              <%=h yield(:title) %>
            </h2>
          <%- end -%>
          <div class="entry">
            <%= yield %>
          </div>
        </div>

  		<div style="clear: both;">&nbsp;</div>
  		</div>
  		<!-- end #content -->
  		<div id="sidebar" class="pretty">
  			<ul>
  				<li>
  			    <% if logged_in? %>
    					<div id="search" >
    					  <% form_for @search, :url => {:controller => "translations"}, :html => {:name => "search"} do |f| %>
                  <%= f.text_field :source_content_or_target_content_like_any, :class => "search-text" %>
                  <%= f.submit "Search" %>
                  <br />
                  <% Category.all.each do |t|%>
                    <div class="checkbox_search_item">
                      <%= check_box_tag "categories[]", 
                          t.id, params[:categories] && params[:categories].include?(t.id.to_s),
                          :id => "checkbox_#{t.id}"
                      %>
                      <%= link_to t.title, "#", :title => t.description.to_s, 
                          :onclick => "toggleCheckbox('checkbox_#{t.id}');" 
                      %>
                    </div>
                  <% end %>
                <% end %>
    					</div>
  					<% end %>
  					<div style="clear: both;">&nbsp;</div>
  				</li>
  				
  				<li>
  					<h2>Menu</h2>
            <ul>
              <% if logged_in? %>
                <li> <%= link_to "Translations", translations_path %> </li>
                <li> <%= link_to "Account", edit_account_path %> </li>
                <li> <%= link_to "Logout", logout_path %> </li>
                <% if current_user.admin %>
                  <li> <%= link_to "Administration", admin_path %> </li>
                <% end %>
              <% else %>
                <li> <%= link_to "Login", login_path %> </li>
              <% end %>
            </ul>
  				</li>
  				<li>
  					<h2>Links</h2>
  					<ul>
  					  <% Page.all.each do |page| %>
  					    <li><%= link_to page.title, permalink_path(page.permalink) %></li>
  					  <% end %>
  					</ul>
  				</li>
  			</ul>
  		</div>
  		<!-- end #sidebar -->
  		<div style="clear: both;">&nbsp;</div>
  	</div>
  	</div>
  	</div>
  	<!-- end #page -->
  </div>
	<div id="footer">
		<p>Copyright (c) 2010 Sitename.com. All rights reserved.</p>
	</div>
	<!-- end #footer -->
</body>
</html>
